<% events.previous.each do |event| %>
  <div class="card mb-2" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title font-weight-bolder">
        <%= event.name %>
        <span class="badge badge-danger">Past</span>
      </h5>

      <p class="card-text"><%= event.details %></p>

      <%= link_to 'Read more', event_path(event), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
