<% current_user.events.upcoming.each do |event| %>
  <tr>
    <td>
      <%= event.name %>
      <span class="badge badge-success">Upcoming</span>
    </td>
    <td><%= event.attendees.count %></td>
    <td><%= link_to "Edit", edit_event_path(event), class: 'btn btn-primary', id: "event_#{event.id}" %></td>
    <td><%= link_to "Delete", event_path(event), method: :delete, class: 'btn btn-danger', id: "event_#{event.id}" %></td>
  </tr>
<% end %>
