<div class="container">
  <h1 class="text-center pt-3 pb-2">All Events</h1>

  <div class="d-flex flex-row flex-wrap justify-content-between">
    <%= render 'shared/upcoming_cards', events: @events %>

    <%= render 'shared/previous_cards', events: @events %>
  </div>
</div>
